<app-corporate-home-slider />

<app-corporate-property-listing
  [data]="8"
  [class]="'col-xxl-3 col-xl-4 col-md-6 wow fadeInUp'"
  [tagClass]="'color-3'"
  [containerClass]="true"
/>

<app-corporate-provided-services [tagClass]="'color-3'" />

<app-corporate-property-listing
  [data]="6"
  [class]="'col-xl-4 col-lg-6 wow fadeInUp'"
  [tagClass]="'color-3'"
  [containerClass]="false"
/>

<app-corporate-pricing-plan [tagClass]="'color-3'" />

<app-corporate-featured-property [tagClass]="'color-3'" />

<app-corporate-banner [tagClass]="'color-3'" />

<app-corporate-agents [tagClass]="'color-3'" />

<app-corporate-clients [tagClass]="'color-3'" />

<app-corporate-latest-blog />
